<div class="jumbotron">
  <h1>Riddles in the Dark</h1>
</div>

<form action="/output" method="post">
  <div class="form-group">
    <h2>GOLLUM ASKS:</h2>
    <!-- one -->
    <label for="question_one">What has roots as nobody sees, <br>
      Is taller than trees,<br>
      Up, up it goes,<br>
      And yet never grows?<br>
    </label>
    <input name="question_one" class="form-control" type="text"><br>

    <!-- two -->
    <label for="question_two">Voiceless it cries,<br>
      Wingless flutters,<br>
      Toothless bites,<br>
      Mouthless mutters.<br>
    </label>
    <input name="question_two" class="form-control" type="text"><br>

    <!-- three -->
    <label for="question_three">It cannot be seen, cannot be felt,<br>
      Cannot be heard, cannot be smelt.<br>
      It lies behind stars and under hills,<br>
      And empty holes it fills.<br>
      It comes out first and follows after,<br>
      Ends life, kills laughter.<br>
    </label>
    <input name="question_three" class="form-control" type="text"><br>

    <!-- four -->
    <label for="question_four">Alive without breath,<br>
      As cold as death;<br>
      Never thirsty, ever drinking,<br>
      All in mail never clinking. <br>
    </label>
    <input name="question_four" class="form-control" type="text"><br>

    <!-- five -->
    <label for="question_five">This thing all things devours;<br>
      Birds, beasts, trees, flowers;<br>
      Gnaws iron, bites steel;<br>
      Grinds hard stones to meal;<br>
      Slays king, ruins town,<br>
      And beats mountain down. <br>
    </label>
    <input name="question_five" class="form-control" type="text"><br>

    <button type="submit" name="Go!" class="btn">View result</button>
  </div>
</form>
